<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
    <title>Category Form</title>
</head>
<div th:fragment="content">
    <h1 th:text="${category.categoryId == null ? 'Add Category' : 'Edit Category'}"></h1>
    <form th:action="${category.categoryId == null ? '/web/categories/save' : '/web/categories/update'}" th:object="${category}" method="post">
        <input type="hidden" th:field="*{categoryId}" />
        <div class="mb-3">
            <label>Category Name</label>
            <input type="text" th:field="*{categoryName}" class="form-control" required />
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
        <a th:href="@{/web/categories}" class="btn btn-secondary">Cancel</a>
    </form>
</div>
</html>