<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="sidebar(activeTab)">
    <nav id="sidebar">
        <div class="sidebar-header">
            <div class="mx-auto text-center">
                <img th:src="@{/images/logo.png}" alt="Logo" class="brand-logo mb-2">
                <h5 class="brand-logo mb-0">MyResourcer</h5>
            </div>
            <button type="button" id="sidebarCollapse">
                <i class="bi bi-list"></i>
            </button>
        </div>
        <ul class="list-unstyled components">
            <li th:class="${activeTab == 'home' ? 'active' : ''}">
                <a href="/dashboard"><i class="bi bi-house-door"></i> <span>Home</span></a>
            </li>
            <li th:class="${activeTab == 'electronics' ? 'active' : ''}">
                <a href="/dashboard/electronics"><i class="bi bi-laptop"></i> <span>Electronics</span></a>
            </li>
            <li th:class="${activeTab == 'rooms' ? 'active' : ''}">
                <a href="/dashboard/rooms"><i class="bi bi-door-closed"></i> <span>Rooms</span></a>
            </li>
            <li th:class="${activeTab == 'tools' ? 'active' : ''}">
                <a href="/dashboard/tools"><i class="bi bi-tools"></i> <span>Tools</span></a>
            </li>
            <li th:class="${activeTab == 'stationery' ? 'active' : ''}">
                <a href="/dashboard/stationery"><i class="bi bi-journal-text"></i> <span>Stationery</span></a>
            </li>
            <li th:class="${activeTab == 'support' ? 'active' : ''}">
                <a href="/dashboard/support"><i class="bi bi-person-walking"></i> <span>Support</span></a>
            </li>
            <li th:class="${activeTab == 'others' ? 'active' : ''}">
                <a href="/dashboard/others"><i class="bi bi-grid"></i> <span>Others</span></a>
            </li>
            <li class="mt-5">
                <a href="/logout" class="text-danger"><i class="bi bi-box-arrow-right"></i> <span>Logout</span></a>
            </li>
        </ul>
    </nav>
</div>
</html>
